n8n-workflows/1-lead-qualification.json
{
  "name": "Lead Qualification & Follow-Up",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-submission",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Contact Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Validate API Key from header\nconst apiKey = $input.item.json.$request.headers['x-api-key'];\nconst expectedKey = $env.WEBHOOK_API_KEY;\n\nif (!apiKey || apiKey !== expectedKey) {\n  throw new Error('Unauthorized - Invalid API key');\n}\n\n// Validate required fields and format\nconst data = $input.item.json.body;\nconst errors = [];\n\n// Name validation\nif (!data.name || typeof data.name !== 'string' || data.name.trim().length === 0) {\n  errors.push('Name is required');\n} else if (data.name.length > 100) {\n  errors.push('Name must be less than 100 characters');\n} else if (!/^[a-zA-Z\\s'-]+$/.test(data.name)) {\n  errors.push('Name contains invalid characters');\n}\n\n// Email validation\nif (!data.email || typeof data.email !== 'string') {\n  errors.push('Email is required');\n} else if (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(data.email) || data.email.length > 255) {\n  errors.push('Invalid email address');\n}\n\n// Phone validation (optional but must be valid if provided)\nif (data.phone && (typeof data.phone !== 'string' || data.phone.length > 20)) {\n  errors.push('Invalid phone number format');\n}\n\n// Message validation\nif (!data.message || typeof data.message !== 'string' || data.message.trim().length === 0) {\n  errors.push('Message is required');\n} else if (data.message.length > 5000) {\n  errors.push('Message must be less than 5000 characters');\n}\n\n// Interest validation (optional)\nif (data.interest && typeof data.interest !== 'string') {\n  errors.push('Invalid interest field');\n} else if (data.interest && data.interest.length > 100) {\n  errors.push('Interest must be less than 100 characters');\n}\n\nif (errors.length > 0) {\n  throw new Error('Validation failed: ' + errors.join(', '));\n}\n\n// Sanitize inputs by trimming and limiting length\nreturn {\n  name: data.name.trim().substring(0, 100),\n  email: data.email.trim().toLowerCase().substring(0, 255),\n  phone: data.phone ? data.phone.trim().substring(0, 20) : '',\n  message: data.message.trim().substring(0, 5000),\n  interest: data.interest ? data.interest.trim().substring(0, 100) : ''\n};"
      },
      "id": "validate-and-auth",
      "name": "Validate & Authenticate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://ai.gateway.lovable.dev/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "lovableAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "openai/gpt-5-mini"
            },
            {
              "name": "messages",
              "value": "={{[\n  {\n    \"role\": \"system\",\n    \"content\": \"You are a lead qualification specialist for Aesthetic ProTools, a medical laser equipment company.\\n\\nAnalyze the contact form submission and provide:\\n1. Lead Quality Score (1-10)\\n2. Primary Interest Area (Sales, Support, Training, Partnership)\\n3. Urgency Level (Low, Medium, High)\\n4. Recommended Next Action\\n5. Key talking points for sales follow-up\\n\\nConsider factors:\\n- Practice size/type mentioned\\n- Specific product interest\\n- Timeline indicators\\n- Budget signals\\n- Current equipment ownership\\n\\nReturn as JSON.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": `Name: ${$json.name}\\nEmail: ${$json.email}\\nPhone: ${$json.phone}\\nMessage: ${$json.message}\\nInterest: ${$json.interest}`\n  }\n]}}"
            },
            {
              "name": "temperature",
              "value": 0.7
            }
          ]
        },
        "options": {}
      },
      "id": "ai-analyze",
      "name": "AI - Analyze Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.choices[0].message.content.lead_quality_score}}",
              "operation": "largerEqual",
              "value2": 8
            }
          ]
        }
      },
      "id": "if-high-priority",
      "name": "IF - Lead Quality Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "https://ai.gateway.lovable.dev/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "lovableAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "openai/gpt-5"
            },
            {
              "name": "messages",
              "value": "={{[\n  {\n    \"role\": \"system\",\n    \"content\": \"You are a sales expert for Aesthetic ProTools. Write a personalized email follow-up based on the lead analysis. Be professional, empathetic, and focus on value. Include specific talking points.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": `Generate email for:\\nName: ${$node['Validate & Authenticate'].json.name}\\nAnalysis: ${JSON.stringify($node['AI - Analyze Lead'].json.choices[0].message.content)}`\n  }\n]}}"
            }
          ]
        }
      },
      "id": "ai-generate-email",
      "name": "AI - Generate Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "fromEmail": "sales@aestheticprotools.com",
        "toEmail": "={{$node['Validate & Authenticate'].json.email}}",
        "subject": "Re: Your Interest in Aesthetic ProTools",
        "emailType": "html",
        "message": "={{$json.choices[0].message.content}}"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "contacts",
        "columns": {
          "mappings": [
            {
              "column": "name",
              "value": "={{$node['Validate & Authenticate'].json.name}}"
            },
            {
              "column": "email",
              "value": "={{$node['Validate & Authenticate'].json.email}}"
            },
            {
              "column": "phone",
              "value": "={{$node['Validate & Authenticate'].json.phone}}"
            },
            {
              "column": "message",
              "value": "={{$node['Validate & Authenticate'].json.message}}"
            },
            {
              "column": "lead_score",
              "value": "={{$node['AI - Analyze Lead'].json.choices[0].message.content.lead_quality_score}}"
            },
            {
              "column": "interest_area",
              "value": "={{$node['AI - Analyze Lead'].json.choices[0].message.content.primary_interest_area}}"
            }
          ]
        }
      },
      "id": "supabase-insert",
      "name": "Supabase - Log Contact",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{{\n  \"success\": true,\n  \"message\": \"Thank you for contacting us. We'll be in touch soon!\"\n}}}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "Webhook - Contact Form": {
      "main": [[{"node": "Validate & Authenticate", "type": "main", "index": 0}]]
    },
    "Validate & Authenticate": {
      "main": [[{"node": "AI - Analyze Lead", "type": "main", "index": 0}]]
    },
    "AI - Analyze Lead": {
      "main": [[{"node": "IF - Lead Quality Check", "type": "main", "index": 0}]]
    },
    "IF - Lead Quality Check": {
      "main": [
        [{"node": "AI - Generate Email", "type": "main", "index": 0}],
        [{"node": "Supabase - Log Contact", "type": "main", "index": 0}]
      ]
    },
    "AI - Generate Email": {
      "main": [[{"node": "Send Email", "type": "main", "index": 0}]]
    },
    "Send Email": {
      "main": [[{"node": "Supabase - Log Contact", "type": "main", "index": 0}]]
    },
    "Supabase - Log Contact": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-22T00:00:00.000Z",
  "versionId": "2"
}