n8n-workflows/1-lead-qualification.json
{
  "name": "Lead Qualification & Follow-Up",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-submission",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Contact Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://ai.gateway.lovable.dev/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "lovableAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "openai/gpt-5-mini"
            },
            {
              "name": "messages",
              "value": "={{[\n  {\n    \"role\": \"system\",\n    \"content\": \"You are a lead qualification specialist for Aesthetic ProTools, a medical laser equipment company.\\n\\nAnalyze the contact form submission and provide:\\n1. Lead Quality Score (1-10)\\n2. Primary Interest Area (Sales, Support, Training, Partnership)\\n3. Urgency Level (Low, Medium, High)\\n4. Recommended Next Action\\n5. Key talking points for sales follow-up\\n\\nConsider factors:\\n- Practice size/type mentioned\\n- Specific product interest\\n- Timeline indicators\\n- Budget signals\\n- Current equipment ownership\\n\\nReturn as JSON.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": `Name: ${$json.name}\\nEmail: ${$json.email}\\nPhone: ${$json.phone}\\nMessage: ${$json.message}\\nInterest: ${$json.interest}`\n  }\n]}}"
            },
            {
              "name": "temperature",
              "value": 0.7
            }
          ]
        },
        "options": {}
      },
      "id": "ai-analyze",
      "name": "AI - Analyze Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.choices[0].message.content.lead_quality_score}}",
              "operation": "largerEqual",
              "value2": 8
            }
          ]
        }
      },
      "id": "if-high-priority",
      "name": "IF - Lead Quality Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "https://ai.gateway.lovable.dev/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "lovableAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "openai/gpt-5"
            },
            {
              "name": "messages",
              "value": "={{[\n  {\n    \"role\": \"system\",\n    \"content\": \"You are a sales expert for Aesthetic ProTools. Write a personalized email follow-up based on the lead analysis. Be professional, empathetic, and focus on value. Include specific talking points.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": `Generate email for:\\nName: ${$node['Webhook - Contact Form'].json.name}\\nAnalysis: ${JSON.stringify($node['AI - Analyze Lead'].json.choices[0].message.content)}`\n  }\n]}}"
            }
          ]
        }
      },
      "id": "ai-generate-email",
      "name": "AI - Generate Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "fromEmail": "sales@aestheticprotools.com",
        "toEmail": "={{$node['Webhook - Contact Form'].json.email}}",
        "subject": "Re: Your Interest in Aesthetic ProTools",
        "emailType": "html",
        "message": "={{$json.choices[0].message.content}}"
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "contacts",
        "columns": {
          "mappings": [
            {
              "column": "name",
              "value": "={{$node['Webhook - Contact Form'].json.name}}"
            },
            {
              "column": "email",
              "value": "={{$node['Webhook - Contact Form'].json.email}}"
            },
            {
              "column": "phone",
              "value": "={{$node['Webhook - Contact Form'].json.phone}}"
            },
            {
              "column": "message",
              "value": "={{$node['Webhook - Contact Form'].json.message}}"
            },
            {
              "column": "lead_score",
              "value": "={{$node['AI - Analyze Lead'].json.choices[0].message.content.lead_quality_score}}"
            },
            {
              "column": "interest_area",
              "value": "={{$node['AI - Analyze Lead'].json.choices[0].message.content.primary_interest_area}}"
            }
          ]
        }
      },
      "id": "supabase-insert",
      "name": "Supabase - Log Contact",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{{\n  \"success\": true,\n  \"message\": \"Thank you for contacting us. We'll be in touch soon!\"\n}}}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook - Contact Form": {
      "main": [[{"node": "AI - Analyze Lead", "type": "main", "index": 0}]]
    },
    "AI - Analyze Lead": {
      "main": [[{"node": "IF - Lead Quality Check", "type": "main", "index": 0}]]
    },
    "IF - Lead Quality Check": {
      "main": [
        [{"node": "AI - Generate Email", "type": "main", "index": 0}],
        [{"node": "Supabase - Log Contact", "type": "main", "index": 0}]
      ]
    },
    "AI - Generate Email": {
      "main": [[{"node": "Send Email", "type": "main", "index": 0}]]
    },
    "Send Email": {
      "main": [[{"node": "Supabase - Log Contact", "type": "main", "index": 0}]]
    },
    "Supabase - Log Contact": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-06T00:00:00.000Z",
  "versionId": "1"
}